@model BIBLIOTECA_APOSTILA.Models.Livros

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Livros</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capitulos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capitulos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPublicacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
