@model BIBLIOTECA_APOSTILA.Models.Configuracoes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Configuracoes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasEmprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasEmprestimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasLancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMulta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
